[Unit]
Description=StirlingPDF
After=traefik.container
Wants=traefik.container

[Container]
Image=docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
AutoUpdate=registry
Environment=LANGS=en_US
Environment=DISABLE_ADDITIONAL_FEATURES=false
Environment=SYSTEM_ENABLEANALYTICS=false
Mount=type=volume,source=stirling-pdf.volume,volume-subpath=trainingData,target=/usr/share/tessdata
Mount=type=volume,source=stirling-pdf.volume,volume-subpath=extraConfigs,target=/configs
Mount=type=volume,source=stirling-pdf.volume,volume-subpath=customFiles,target=/customFiles
Mount=type=volume,source=stirling-pdf.volume,volume-subpath=logs,target=/logs
Mount=type=volume,source=stirling-pdf.volume,volume-subpath=pipeline,target=/pipeline
Label=traefik.http.routers.%N.rule=Host(`stirlingpdf.localhost`)
Network=traefik.network
